In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'/Users/Jason/Downloads/Flavors.csv')
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [3]:
##group by base flavor
group_by_frames = df.groupby('Base Flavor')

In [7]:
##calculate mean
##add numeric only to avoid error
group_by_frames.mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [8]:
##count different variables with the row we aggregated which are chocolate and vanilla.
group_by_frames.count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [9]:
##Calculate min
group_by_frames.min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [10]:
##Calculate max
group_by_frames.max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [11]:
##total values
group_by_frames.sum()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
Chocolate,ChocolateRocky RoadChocolte Fudge Brownie,YesYesYes,25.2,21.7,47.1
Vanilla,Mint Chocolate ChipVanillaCookie DoughPistachi...,YesNoYesNoYesNo,34.2,33.9,68.1

In [12]:
##there is an aggregation function to get for a specific column
group_by_frames.agg({'Flavor Rating':['min', 'mean', 'max', 'count']})

            Flavor Rating
                      min mean   max count
Base Flavor
Chocolate             8.2  8.4   8.8     3
Vanilla               2.3  5.7  10.0     6

In [13]:
##for multiple columns
group_by_frames.agg({'Flavor rating':['min', 'mean', 'max', 'count', 'sum'], 'Texture Rating': ['min', 'mean', 'max', 'count', 'sum']})

KeyError: "Column(s) ['Flavor rating'] do not exist"